@import "../../assets/styles/global.scss";

.home {
  width: 100vw;
  height: 100vh;
  background-color: $blue;

  .tapToPlay {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    width: 60%;
    text-align: center;
    animation: aniBreath 2s ease-in-out infinite;
    @keyframes aniBreath {
      from {
        font-size: 2rem;
      }
      50% {
        font-size: 2.1rem;
      }
      to {
        font-size: 2rem;
      }
    }
    &.gameStart {
      animation: aniTapToPLay 0.5s ease-in-out;
      animation-fill-mode: forwards;
    }
    @keyframes aniTapToPLay {
      from {
        top: 45%;
      }
      to {
        top: 200%;
      }
    }
  }
  .img-wrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
    max-width: 300px;
    transform: translateX(-50%);
    left: 50%;
    img {
      width: 100%;
      left: 0;
      position: absolute;
    }
    &__susk {
      bottom: 0;
      z-index: 0;
      width: 100%;
      // left: 50% !important;
      // &.gameStart {
      //   animation: goAway 2s linear infinite;
      //   @keyframes goAway {
      //     from {
      //       bottom: 0;
      //     }
      //     30% {
      //       bottom: -1000px;
      //     }
      //   }
      // }
    }
    &__fingers {
      z-index: 2;
      bottom: 10px;
      // &.gameStart {
      //   animation: goAway 2s linear;
      //   animation-fill-mode: forwards;

      //   @keyframes goAway {
      //     from {
      //       bottom: 10px;
      //     }
      //     30% {
      //       bottom: -1000px;
      //     }
      //   }
      // }
    }

    &__rocket {
      z-index: 1;
      bottom: 10px;
      &.gameStart {
        animation: fly 3s linear;
        animation-fill-mode: forwards;
        @keyframes fly {
          from {
            bottom: 10px;
          }
          30% {
            bottom: 200px;
          }
          99% {
            bottom: 0px;
            opacity: 1;
            visibility: visible;
          }
          to {
            display: none;
            opacity: 0;
            visibility: hidden;
          }
        }
      }
    }
  }
  .bgWrapper {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    position: relative;
    &.gameStart {
      animation: go 3s ease-out;
      animation-fill-mode: forwards;
    }
  }
  .bg1 {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: -100%;
    // left: 100%;
  }
  .bg2 {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: -100vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 10%,
      rgba(53, 239, 221, 1) 80%
    );
  }
  .bg3 {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: -200vh;
  }
  @keyframes go {
    from {
      top: 0;
    }
    99% {
      top: 200%;
      opacity: 1;
      visibility: visible;
    }
    to {
      display: none;
      opacity: 0;
      visibility: hidden;
    }
  }
}

// .home {
//   width: 100%;
//   height: 100dvh;
//   position: relative;
//   animation: show 2s ease-in-out;
//   animation-fill-mode: forwards;

//   &__rocket {
//     z-index: 1;
//     position: absolute;
//     bottom: 50%;
//     left: 50%;
//     transform: translate(-50%, 50%);
//     animation: showRocket 2s ease-in-out;
//     animation-fill-mode: forwards;
//   }
//   &__coins-wrapper {
//     width: 90%;
//     height: 50px;
//     left: 5%;
//     position: absolute;
//     top: -100%;
//     border-radius: 1rem;
//     background-color: rgba($red, $alpha: 0.8);
//     z-index: 1;
//     padding: 0.3rem;
//     display: flex;
//     align-items: center;
//     gap: 1rem;
//     img {
//       height: 100%;
//     }
//     animation: showCoinsWrapper 1.8s ease-in-out;
//     animation-fill-mode: forwards;
//   }
// }
// .background {
//   width: 100dvw;
//   height: 200%;
//   background-image: url("../../assets/gifs/stars.gif");
//   position: absolute;
//   left: 0;
//   bottom: 0%;
//   animation: backgorundAni 10s linear infinite;
//   z-index: 0;
// }

// @keyframes showRocket {
//   from {
//     bottom: -100%;
//   }
//   to {
//     bottom: 50%;
//   }
// }

// @keyframes show {
//   from {
//     opacity: 0;
//   }
//   to {
//     opacity: 1;
//   }
// }

// @keyframes backgorundAni {
//   from {
//     bottom: 0%;
//   }
//   to {
//     bottom: -100%;
//   }
// }

// @keyframes showCoinsWrapper {
//   from {
//     top: -100%;
//   }
//   to {
//     top: 1rem;
//   }
// }
