@import "../../assets/styles/global.scss";

.magazine {
  background-color: $blue;
  height: 100% ;
  .boosters-wrapper {
    height: 30%;
    @media (min-height: 750px) {
      height: 40%;
    }
    background-color: $red;
    border-bottom: 4px solid black;
    overflow: hidden;
    h3 {
      text-align: center;
      font-size: 2rem;
    }
    ul {
      padding: 1rem 1rem;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      height: 100%;
      gap: 1rem;
      li {
        width: 100%;
        border: 4px solid black;
        animation: ani 0.3s ease-in-out;
        animation-fill-mode: forwards;
        scale: 0;
      }
      button {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 50px 1fr 100px;
        align-items: center;
        border-radius: 1rem;
        border: none;
        background-color: transparent;
        padding-left: 0.3rem;
        cursor: pointer;
        img {
          width: 40px;
        }
        .item-text {
          // color: black;
          text-align: left;
        }
      }
      .priceWrapper {
        display: flex;
        align-items: center;
        padding-left: 0.3rem;
        p {
          width: 100%;
        }
      }
      @keyframes ani {
        from {
          scale: 0;
        }
        to {
          scale: 1;
        }
      }
    }
  }
  .discription {
    background-color: $red;
    width: 300px;
    font-size: 0.6rem;
    padding: 0.3rem;
    font-weight: 700;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 4px solid black;
    margin-top: 1rem;
    text-align: center;
    line-height: 1rem;
  }
  .balance {
    border: 3px solid black;
    position: relative;
    display: flex;
    background-color: $red;
    margin: 1rem;
    .img-wrapper {
      display: flex;
      gap: 0.3rem;
      align-items: center;
      // font-size: 3rem;
      font-weight: 700;
      width: fit-content;
      // margin: auto;
      padding: 0.3rem 0.5rem 0.3rem 0.3rem;
      img {
        height: 30px;
      }
    }
    .coins {
      background-color: black;
      color: $red;
      padding: 0 0.3rem;
    }
  }
  .inventory {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    // justify-content: space-evenly;
    justify-content: center;
    margin: 1rem;
    gap: 1rem;
    .item {
      // width: 100%;
      aspect-ratio: 1/1;
      background-color: $red;
      border: 4px solid black;
    }
  }
}
